<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sell Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<h1>Sell Order</h1>
<form action="#" th:action="@{/sell}" th:object="${order}" method="post">
    <p>Client: <input type="text" th:field="*{userid}" /></p>
    <p>Symbol: <input type="text" th:field="*{symbol}" /></p>
    <p>Quantity: <input type="text" th:field="*{qty}" /></p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>